.container__footer {
    display: flex;
    flex-direction: column;
}

.centralizador {
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    justify-content: center;
    border-top: 1px solid grey;
    position: relative;
    z-index: 1;
}

p {
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: "Signika Negative";  
    font-size: 18px;
    opacity: 0.6; 
    position: relative;
    z-index: 0;
}
