<div class="menu">
    <div class="container__menu">
        <a href="#" class="link__avatar">
            <div class="avatar__saulo">
                <img class="photo__avatar" src="./assets/foto2.jpg" alt="photo de Saulo Ferro">
                <p>Saulo<br>Ferro</p>
                <img class="photo__avatar2" src="./assets/logoSemLegendaProfissional.png" alt="photo de Saulo Ferro">
            </div>
        </a>
        <div class="menu__pages">
            <div class="texto">
                <p>
                    <a href="#">
                        Sobre Mim
                    </a>
                </p>
                <p class="sepa">—</p>
                <p>
                    <a href="#">
                        Meus Artigos
                    </a>
                </p>
                <p class="sepa" >—</p>
                <p>
                    <a href="#">
                        Meus Projetos
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="texto2" style="background-color: #242424; margin-top: 2.7px; margin-bottom: 2.8px; border-bottom: rgba(128, 128, 128, 0.678) 1px solid;">
    <p style="background-color: #242424; margin-bottom: 3%; margin-top: 2%;">
        <a href="#" >
            Sobre Mim
        </a>
    </p>
    <p style="cursor:default; background-color: #242424; margin-bottom: 3%; margin-top: 2%;"> — </p>
    <p style="background-color: #242424; margin-bottom: 3%;  margin-top: 2%">
        <a href="#" >
            Meus Artigos 
        </a>
    </p>
    <p style="cursor:default; background-color: #242424; margin-bottom: 3%; margin-top: 2%;"> — </p>
    <p style="background-color: #242424; margin-bottom: 3%;  margin-top: 2%; margin-right: .4%;">
        <a href="#" >
            Meus Projetos
        </a>
    </p>
</div>
