<div class="menu">
    <div class="container__menu">
        <a href="#" class="link__avatar">
            <div class="avatar__saulo">
                <img src="assets/foto2.jpg" alt="photo de Saulo Ferro">
                <p>Saulo<br>Ferro</p>
            </div>
        </a>
        <div class="menu__pages">
            <div class="texto">
                <p>
                    <a href="#">
                        Sobre Mim
                    </a>
                </p>
                <p>—</p>
                <p>
                    <a href="#">
                        Meus Artigos
                    </a>
                </p>
                <p>—</p>
                <p>
                    <a href="#">
                        Meus Projetos
                    </a>
                </p>
            </div>
        </div>
    </div>
    <hr>
</div>
