<div class="menu">
    <div class="container__menu">
        <a href="#" class="link__avatar">
            <div class="avatar__saulo">
                <img src="assets/foto2.jpg" alt="photo de Saulo Ferro">
                <p>Saulo<br>Ferro</p>
            </div>
        </a>
        <div class="menu__pages">
            <a href="#" class="link_aboutMe">
                <p>Sobre Mim</p>
            </a>
            <a href="#" class="link_articles">
                <p>Meus Artigos</p>
            </a>
        </div>
    </div>
    <hr>
</div>
