* {
    background-color: #181918;
    margin-top: 1px;
    font-size: 14px;
    font-family: "Kumbh Sans";
}

p {
    margin-right: 8px;
}

.menu > hr {
    opacity: 0.45;
    color: gray;
    margin-top: 5px;
}

.container__menu {
    align-items: center;
    flex-direction: row;
    display: flex;
}

.avatar__saulo {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.avatar__saulo > img {
    margin-right: 5px;
    border-radius: 50%;
    width: 6%;
}

.link__avatar {
    margin-left: 15%;
}

.menu__pages {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 300px ;
}
