* {
    background-color: #181918;
    margin-top: 1px;
    font-size: 14px;
    font-family: "Kumbh Sans";
}

.menu > hr {
    opacity: 0.45;
    color: gray;
    margin-top: 5px;
}

.container__menu {
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    display: flex;
}

.avatar__saulo {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.avatar__saulo > img {
    margin-right: 5px;
    border-radius: 50%;
    width: 15%;
}

.link__avatar {
    margin-left: 10%;
    margin-right: 15%;
}