* {
    background-color: #181918;
    margin-top: 1px;
    font-size: 14px;
    font-family: "Kumbh Sans";
    cursor:default;
}

p {
    margin-right: 8px;
}

a {
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9vh;
}
    
.container__menu {
    display: flex;
    align-items: center;
    justify-content: center;
}


.avatar__saulo {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100px;
}

.avatar__saulo > *{
    cursor: pointer;
}

.avatar__saulo > img {
    margin-right: 5px;
    border-radius: 50%;
    width: 40%;
    cursor: pointer;
}

.link__avatar {
    margin-right: 11%;
}

.menu__pages {
    flex-direction: row;
    display: flex;
    width: 500px;
}

.menu__pages > .texto {
    margin-top: 1%;
    flex-direction: row;
    display: flex;
}

a:hover {
    color: #65b029;
}

.photo__avatar {
    transition: opacity 1s;
}
