.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
    text-align: left; 
    flex-direction: column;
  }
  
.container > .imagem {
    width: 20%;
    border-radius: 50%;
    margin-bottom: 0.5%;
}

@media (max-width: 500px) {
    .container > .imagem {
      width: 55%;
      margin-bottom: 0.9%;
    }
    
    .container {
        height: 58vh;
    }
}

@media (min-width: 500.1px) {
    .container > .imagem {
      width: 20%;
      margin-bottom: 0.5%;
    }

    .container {
        height: 87vh;
    }
}
  