.title {
    align-items: center;
    display: flex; 
    justify-content: center; 
    height: 90vh;
    margin-top: 5px;
    margin-bottom: 12px;
    background-color: wheat;
}
.title > img {
    margin-top: -395px;
    max-width: 38%; max-height: 38%;
}