.title {
    align-items: center;
    display: flex; 
    justify-content: center; 
    height: 40vh;
    margin-top: 5px;
    margin-bottom: 12px;
    background-color: navajowhite;
}
.title > img {
    max-width: 88%; max-height: 88%;
}