.centralizador {
    display: flex;
    justify-content: center;
    margin-right: 3%; margin-left: 3%;
}

.conatiner__carousel {
    margin-bottom: 5%;
}

.slick-prev::before, .slick-next::before {
    color: #65b029 !important;
}

.img-style {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 5%;
}

.carousel {
    width: 95%;
}

h2 {
    opacity: 0.8;
    margin-top: 2%;
    align-items: center;
    display: flex; justify-content: center;
}

p {
    opacity: 0.6;
    align-items: center;
    display: flex; justify-content: center;
    margin-bottom: 1.5%;
    color: whitesmoke;

    font-family: "Ubuntu Condensed";
    font-size: 18px;
}
  

@media (min-width: 200){
    .img-style {
        margin-left: 5px !important;
        margin-right: 5px !important;
        height: 230px;
        width: 230px;
    }

    .carousel {
        width: 80%;
    }

    .conatiner__carousel {
        margin-right: 5%; margin-left: 5%;
    }
}