* {
    background-color: #242424;
}
.centralizador {
    display: flex;
    justify-content: center;
    margin-right: 3%; margin-left: 3%;
}

.conatiner__carousel {
    margin-bottom: 4%;
    background-color: #242424;
}

 .slick-prev::before,  .slick-next::before {
    color: #65b029 !important;
}

.img-style {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 5%;
}

.carousel {
    width: 95%;
}

h2 {
    opacity: 0.8;
    margin-top: 2%;
    align-items: center;
    display: flex; justify-content: center;
}

p {
    opacity: 0.6;
    align-items: center;
    display: flex; justify-content: center;
    margin-bottom: 1.5%;
    color: whitesmoke;

    font-family: "Ubuntu Condensed";
    font-size: 18px;
}
  

@media (min-width: 834px) and (max-width: 1112px){
    .img-style {
        width: 225px;
        height: auto;
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media (min-width: 834px) and (max-height: 1112px){
    .img-style {
        width: 225px;
        height: auto;
        margin-left: 7%;
        margin-right: 7%;
    }
}

@media (min-width: 1024px) and (max-width: 1366px) and (min-height: 1024px) and (max-height: 1366px) {
    .img-style {
        width: 230px;
        height: auto;
        margin-left: 6%;
        margin-right: 6%;
    }
}
