<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="centralizador">
    <div class="container__articles">
        <div class="article__main">
            <app-big-card 
            photoCover="../assets/imagem_de_test.png"
            cardTitle="Linux é melhor que windows"
            cardDescription="Mint, debian, python, java, pop os, diolinux cwowowoweow adoonwod asasasasasasas asasasa asasasasas"
            ></app-big-card>
        </div>
        <div class="article__others">
            <app-small-card
            photoCover="../assets/imagem_de_test.png"
            cardDate="24/02/24"
            cardTitle="Qual será a nova linguagem do momento?"
            cardTopic="progrmação - artigos técnicos"
            ></app-small-card>
            
            <app-small-card
            photoCover="../assets/imagem_de_test.png"
            cardDate="24/02/24"
            cardTitle="Qual será a nova linguagem do momento?"
            cardTopic="progrmação - artigos técnicos"
            ></app-small-card>

            <app-small-card
            photoCover="../assets/imagem_de_test.png"
            cardDate="24/02/24"
            cardTitle="Qual será a nova linguagem do momento?"
            cardTopic="progrmação - artigos técnicos"
            ></app-small-card>
            <a href="#" class="maisArtigos">ver outros artigos ...</a>
        </div>
    </div>
</div>

<app-carousel></app-carousel>

<app-footer-rodape></app-footer-rodape>
