.container__articles {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.centralizador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.maisArtigos {
    display: flex;
    align-items: center;
    justify-content: center;

    top: 5px;
    font-size: 17px;
    color: gray;
    font-family: "Ubuntu Condensed";
}

.maisArtigos:hover {
    color: #65b029;
    font-size: 18px;
}

@media (max-width: 499px) {
    .container__articles {
        flex-direction: column;
    }
    .container__articles > * {
        padding-bottom: 10px;
    }
    .article__main {
        margin-bottom: 15px;
    }
}

@media (min-width: 500px) {
    .container__articles {
        flex-direction: row;
    }
    .container__articles > * {
        padding-bottom: 0;
    }
}

@media (min-width: 100px) and (min-height: 900px) {
    .container__articles {
        flex-direction: column;
    }
    .container__articles > * {
        padding-bottom: 10px;
    }
    .article__main {
        margin-bottom: 15px;
    }
}


