/* Estilos padrão */
.container__articles {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.centralizador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.maisArtigos {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    font-size: 17px;
    color: gray;
    font-family: "Ubuntu Condensed";
}

.maisArtigos:hover {
    color: #65b029;
    font-size: 18px;
}

/* Media queries */
@media (max-width: 868px)  {
    .container__articles {
        display: flex;
        flex-direction: column;
    }
    .article__main {
        margin-bottom: 50px;
    }
    .centralizador {
        flex-direction: column;
        max-width: 98%; 
        margin: 0 auto; 
    }
    .centralizador > * {
        width: 85%; 
    }
    .container__projects {
        align-items: center; 
    }
}


@media (min-width: 899px) {
    .container__articles {
        flex-direction: row;
    }
    .container__articles > * {
        padding-bottom: 0;
    }
}

@media (min-width: 120px) and (min-height: 900px) {
    .container__articles {
        flex-direction: column;
    }
}

@media (min-width: 1440px) and (min-height: 900px) {
    .container__articles {
        flex-direction: row;
    }
}

