<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="centralizador">
    <div class="container__articles">
        <div class="article__main">
            <app-big-card></app-big-card>
        </div>
        <div class="article__others">
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
        </div>
    </div>
</div>
<div class="centralizador">
    <div class="container__projects">
        <div class="projects__frontend">
            <app-projetos-frontend></app-projetos-frontend>
        </div>
        <div class="projects__backend">
            <app-projetos-backend></app-projetos-backend>
        </div>
    </div>
</div>