.container__articles {
    display: flex;
    flex-direction: row;
}

.centralizador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__projects {
    display: flex;
    flex-direction: column;
}