<app-menu-bar></app-menu-bar>

<div class="centralizador">
    <div class="container--projects">
        <div class="project project1">
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
            
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
            
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
        </div>

        <div class="project project2">
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
            
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
            
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
        </div>

        <div class="project project3">
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
            
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
            
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
        </div>

        <div class="project project4">
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
            
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
            
            <div class="project-details">
                <app-big-card 
                    photoCover="../assets/imagem_de_test.png"
                    cardTitle="Linux é melhor que windows"
                    cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in enim felis. Etiam et malesuada lacus. Sed non semper diam, vitae rutrum eros. Nullam tristique, eros eu porttitor lacinia, urna urna consequat velit, non rutrum nisi mi eu nulla."
                ></app-big-card>
            </div>
        </div>

    </div>
</div>

<app-footer-rodape></app-footer-rodape>
