<app-menu-bar></app-menu-bar>

<div class="container--about-me">
    <div class="box">
        <img class="photo_avatar" src="assets/foto2.jpg" alt="Foto de apresentação">
        <div class="apresentacao">
            <h2>Olá, como vai?</h2>
            <p> Eu me chamo Saulo Ferro. <br>Sou um jovem brasileiro apaixonado por aprender. <br><br>Tenho formação universitária em jornalismo e também sou um entusiasta de desenvolvimento de jogos, com formação técnica nessa área. <br><br> Estou sempre em busca de novos desafios e oportunidades para crescer e me desenvolver ainda mais.</p>
        </div> 
    </div>
    <div class="social--midia">
        <div class="centralizador">
            <h2>Meus contatos</h2>
            <div class="botoes">
                <a href="https://github.com/Saulo-Ferro-Maciel" target="_blank"><i class="fab fa-github"></i> 
                    <span> meu github</span>
                </a>
                <a href="https://www.linkedin.com/in/saulo-ferro-maciel-74b65a1b8/" target="_blank"><i class="fab fa-linkedin"></i> 
                    <span> meu linkedin</span>
                </a>
                <a href="https://www.instagram.com/saulo_fehciel/" target="_blank"><i class="fab fa-instagram"></i>
                    <span> meu instagram</span>
                </a>
                <a href="https://medium.com/@maciel.ferro" target="_blank"><i class="fab fa-medium"></i>
                    <span> meu medium</span>
                </a>
            </div>
        </div>
    </div>
    
</div>

<app-footer-rodape></app-footer-rodape>