<div class="container__big-card">
    <div class="big-card__photo">
        <img src="assets/imagem_de_test.png" alt="" >
    </div>
    <div class="big-card__title">
        <h1>Linux é melhor que Windows</h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor tincidunt feugiat. Nulla finibus tellus eu justo egestas, vel tincidunt sapien elementum. QuiLorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor tincidunt feugiat.</p>
    </div>
</div>
