.container__big-card{
    width: 400px; height: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 30px;
}

.big-card__photo > img {
    width: 100%;
    min-width: 400px;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.big-card__title > h1 {
    margin-top: 8px;
    font-size: 25px;
}

.big-card__description > p {
    margin-top: 7px;
    color: rgb(155, 152, 152);
}

@media (max-width: 499px) {
    .container__big-card {
        flex-direction: column;
        margin-right: 0;
        align-items: center;
        justify-content: center;

        width: 30px;height: 350px;
        margin-left: 49%; margin-right: 10%;
    }

    .big-card__photo {
        width: 2%; height: 2%;
        min-width: 0;

        opacity: 0;
    }
}

@media (min-width: 500px) {
    .container__articles {
        flex-direction: row;
    }
    .container__articles > * {
        padding-bottom: 0;
    }
}

@media (min-width: 100px) and (min-height: 900px) {
    .container__articles {
        flex-direction: column;
    }
    .container__articles > * {
        padding-bottom: 10px;
    }
    .article__main {
        margin-bottom: 15px;
    }
}
